* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:"Montserrat", sans-serif;
}

body {

background: #F70008;
background:linear-gradient(60deg,
rgba(247,0,8,1),
rgba(193,0,62,1), 
rgba(184,0,69,1),
rgba(160,0,100,1),
rgba(127,2,128,1)
);


color: white;}






.side {
margin: auto;
height: 100vh;
width: 100px;


}




.carte {


width: 100%;


}


.barra {


height: 10px;
background: linear-gradient(
    to right,
    green 0%,
    green 50%,
    white 50%,
    white 100%);
width: 500px;
border-radius: 50px;
}


.volume {
    height: 10px;
    background: linear-gradient(
    to right,
    green 0%,
    green 50%,
    white 50%,
    white 100%);
width: 80px;
border-radius: 50px;
}






.barra-scroll {

width: 10px;
height: 100vh;
background: grey;
border-radius: 50px;
margin-top: 0;
margin-bottom: 0;
}
